In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [18]:
vistas      = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_3_vistas.csv')

In [19]:
postulaciones = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_4_postulaciones.csv')

In [20]:
avisos_online = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_5_avisos_online.csv')

In [16]:
avisos_detalle = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_6_avisos_detalle.csv')

In [4]:
avisos_detalle.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [5]:
# Estas columnas no aportan suficiente información
# idpais: Siempre vale 1
# ciudad: Hay alrededor de 50 registros con esta información, el resto es NaN
# mapacalle: Hay sólo 683 registros con esta información.
avisos_detalle = avisos_detalle.drop(axis=1, labels=['idpais', 'ciudad', 'mapacalle'])

In [6]:
avisos_detalle.head()

,idaviso,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [7]:
desc = avisos_detalle.iloc[1]['descripcion']

In [8]:
from descripcion_parser import parse as dp_parse

In [17]:
avisos_detalle['descripcion'] = avisos_detalle['descripcion'].map(dp_parse)

In [15]:
avisos_detalle.head()

0    empresa: distribuidor de repuestos automotor, ...
1    solicitamos para importante cadena de farmacia...
2    te gusta manejar? queres ganar plata haciendo ...
3    somos una empresa multinacional que opera en a...
4    operarios de planta nos encontramos en la busq...
Name: descripcion, dtype: object

In [27]:
vistas[vistas['idpostulante'] == '']

Empty DataFrame
Columns: [idAviso, timestamp, idpostulante]
Index: []

In [28]:
avisos_detalle[avisos_detalle['idaviso'] == 1112299696]

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
4510,1112299696,1,CONVOCATORIA A DOCENTES CON EXPERIENCIA EN EDU...,se requiere para portal educativo on-line: htt...,Gran Buenos Aires,NaN,NaN,Part-time,Otro,Educación/ Docentes,INSTITUTO DE EDUCACION SUPERIOR
15400,1112299696,1,CONVOCATORIA A DOCENTES CON EXPERIENCIA EN EDU...,se requiere para portal educativo on-line: htt...,Gran Buenos Aires,NaN,NaN,Part-time,Otro,Educación/ Docentes,INSTITUTO DE EDUCACION SUPERIOR

In [29]:
postulantes = pd.read_csv('/home/luciano/orga-datos/datos_preprocesados/postulantes.csv')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
postulantes.head()

,idpostulante,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,fechanacimiento,sexo
0,0z5Dmrd,0,0,0,0,0,0,Graduado,1965-10-22,MASC
1,0z5JW1r,0,0,Graduado,0,Graduado,Graduado,Abandonado,1971-04-09,MASC
2,0z5VvGv,0,0,0,0,Graduado,0,0,1987-10-18,MASC
3,0zB01pE,0,0,0,0,0,Graduado,Abandonado,1989-12-01,MASC
4,0zB026d,0,0,0,0,Graduado,Graduado,0,1978-02-23,FEM

In [31]:
postulantes[postulantes['idpostulante'] == '6M9ZQR']

,idpostulante,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,fechanacimiento,sexo
56726,6M9ZQR,Graduado,0,0,0,0,0,Graduado,1976-03-29,FEM

In [43]:
avisos_detalle[avisos_detalle['idaviso'] == 739260]

Empty DataFrame
Columns: [idaviso, idpais, titulo, descripcion, nombre_zona, ciudad, mapacalle, tipo_de_trabajo, nivel_laboral, nombre_area, denominacion_empresa]
Index: []